@(message: String)

@main("KISS-style DI with Play") {

    <h1>
        KISS-style DI with Play<br>
        <small>By Alexander Daniel • <a href="https://twitter.com/lachdrache">@@lachdrache</a> • <a href="http://lachdrache.com">lachdrache.com</a></small>
    </h1>

    <p>
        <a href="@routes.Application.kiss()">KISS</a>
    </p>

    <p>
        <a href="@routes.DependencyInjection.explain()">Why you should use dependency injection?</a>
    </p>

    <p>
        <a href="https://www.playframework.com/documentation/2.3.x/ScalaDependencyInjection">How does dependency injection work in Play?</a>
    </p>

    <p>
        How can a no framework dependency injection be implemented with Play? <strong>We look into the code</strong>.
        <a href="@routes.Raffle.raffle()">Raffle</a> serves as example.
    </p>

    <p>Tests. <strong>We look at the code.</strong></p>

    <p><a href="@routes.Application.prosandcons()">Pro and cons</a></p>

    <p><a href="@routes.Application.twofour()">Outlook to Play 2.4</a></p>

    <p><a href="@routes.Application.resources()">Resources</a></p>

    <p>Questions?</p>

}
