@()

@main("Pros & Cons") {

    <h3>Pros</h3>
    <ul>
        <li>Pure type-safe Scala code checked at compile time</li>
        <li>No magic, i.e. simple to understand</li>
        <li>In bigger apps one can use Scala constructs to structure the DI code</li>
        <li>Out of the box IDE support because it is pure Scala code</li>
        <li>Dependency graph is constructed in one place</li>
    </ul>

    <h3>Cons</h3>
    <ul>
        <li>Maybe more boiler-plate than annotations</li>
        <li>Just singleton scope (you could do prototype scope with by-name parameters)</li>
    </ul>

    <p><strong>What do you think?</strong></p>

}
