@()

@main("Resources") {

    <ul>
        <li><a href="http://scala-vienna.org/talks/2013/7/23/dependency-injection-in-scala">Dependency injection in Scala by Michal Bigos</a></li>
        <li><a href="https://di-in-scala.github.io">Dependency Injection in Scala using MacWire by Adam Warski</a>: Well-written in depth article mentioning »Manual Dependency Injection«</li>
        <li><a href="https://github.com/lauris/awesome-scala#modularization-and-dependency-injection">Modularization and Dependency Injection in Awesome Scala</a></li>
        <li><a href="https://www.playframework.com/documentation/2.3.x/ScalaDependencyInjection#Example-Projects">Activator templates</a></li>
    </ul>

}
