@()

@main("Resources") {

    <ul>
        <li><a href="http://scala-vienna.org/talks/2013/7/23/dependency-injection-in-scala">Dependency injection in Scala by Michal Bigos</a></li>
        <li><a href="https://di-in-scala.github.io">Dependency Injection in Scala using MacWire by Adam Warski</a> • Well-written in depth article mentioning »Manual Dependency Injection«</li>
        <li><a href="https://github.com/lauris/awesome-scala#modularization-and-dependency-injection">Modularization and Dependency Injection in Awesome Scala</a></li>
        <li>Activator templates
            <ul>
                <li><a href="https://typesafe.com/activator/template/macwire-activator">macwire-activator</a></li>
                <li><a href="https://typesafe.com/activator/template/play-macwire">play-macwire</a></li>
                <li><a href="https://typesafe.com/activator/template/play-guice">play-guice</a></li>
                <li><a href="https://typesafe.com/activator/template/play-scalatest-subcut"></a></li>
            </ul>
        </li>
    </ul>

}
